div.whole{
	width: 100%;
	height:100%;
}

/*div.1st{
	position: relative;
	float: top;
	width: 100%;
	height: 50%;
}

div.2nd{
	
	position: relative;
	float: bottom;
	width: 100%;
	height:50%
}*/
div.rooms{
	
	border-top:1.5px solid #ccc; 
	height:55%;
	width:100%; 
	/*margin-left:2.5%; 
	margin-right:7.5%; */
	margin-bottom:0.5%;
	margin-top: 1%;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.time{
	width: 100%;
	height: 33.5%;
	float: left;
	background-color: #330066;
	color: #FFFFFF;
	margin-top:5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*.timetablecontainer{
	height:100%;
}

.timetable{
	margin-left:20%;
}
*/
/*.mainFooter p {
	width: 92%;
	margin: 20px auto;
}

div.time{
	background-color: #708090; 
	border-top:1.5px solid #ccc; 
	height:50%;
	width:98%; 
	margin-left:7.5%; 
	margin-right:7.5%; 
	margin-bottom:0.5%;
	opacity: 0.4;
}*/

.parkHeader{
	width: 100%;
}

.parkHeader  nav{
	background-color:#CC0066;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.parkHeader nav ul {
	list-style:none;
	margin: 0 auto;
}

.parkHeader nav ul  li{
	float:left;
	display: inline;
}

.parkHeader nav a:link, .parkHeader nav a:visited{
	color: #FFFFFF;
	/*background-color: #330066;*/
	display: inline-block;
	padding: 10px 20px;
	height:20px
}

.parkHeader nav a:hover, .parkHeader nav a:active{

}

.parkHeader nav .active  a:link, .parkHeader nav .active a:visited{
	text-shadow: none;
}

.parkHeader nav ul li a{
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.parkeast{
	width: 30%;
	margin-left:20.5%; 
	text-align: center;
}

.parkcentral{
	width: 30%;
	margin-left:20.5%; 
	text-align: center;
}

.parkwest{
	width: 30%;
	margin-left:20.5%; 
	margin-right:2.5%;
	text-align: center;
}
.requestcontent{
	width: 100%;
	height: 100%;
	margin-top: -3%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.parkcontent{
	color: #FFFFFF;
	float: left;
	width: 45%;
	height: 100%;
	margin-top: 2%;
	margin-right: 1%;
	background-color: rgba(51,0,102,1);
	padding: 1% 2%;
	/*border-right: 4px solid #CC0066;
	border-bottom: 5px solid #CC0066;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.buildingcontenttitle {
	font-size: 18px;
	text-align: center;
	margin-left: 45%;
	margin-right: auto;
}

.roomcontenttitle {
	font-size: 18px;
	text-align: center;
	margin-left: 35%;
	margin-right: auto;
}

.selectedcontenttitle {
	font-size: 18px;
	text-align: center;
	margin-left: 25%;
	margin-right: auto;
}

tr.contentrows td{
	font-size: 16px;
}

tr.contentrows td:hover{
	font-size: 16px;
	border: 1px solid #CC0066;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

tr.roomrows td{
	font-size: 16px;
}


div.roomcontainer{
	color: #FFFFFF;
	float: left;
	width: 45.5%;
	height: 100%;
	margin-top: 2%;
	background-color: #330066;
	padding: 1% 2%;
	/*border: 2px solid #CC0066;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.buildingcontent{
	float: left;
	width: 50%;
	height: 100%;
	/*border-right: 2px solid black;*/	
}

div.selectedcontainer{
	float: left;
	width: 48%;
	height: 100%;
}

div.selectedrooms{
	float: top;
	min-height: 50%;
}

div.compared{
	float: bottom;
	min-height: 50%;
}

.dialogClass.ui-dialog{
	background-color: #330066;
	color: #FFFFFF;
	width: 28%;
	height: 100%;
}

.ui-dialog.ui-widget.ui-widget-content{
	text-align: center;
}


.parkrooms{
	visibility: hidden;
}
/*div.parkcontent{
	background-color: rgba(51,0,102,1);
	visibility: hidden;
	position: relative;
	float: left;
	margin-left: 2.5%;
}
*/
div.roominfo{
	color:#FFFFFF;
	/*background-color: rgba(51,0,102,1);
	visibility: hidden;
	position: relative;
	float: left;
	margin-left: 2.5%;*/
}

div.parkeast{
	position: relative;
	float: left;
	width: 30%;
	height:10%;
	margin-left:2.5%; 
	text-align: center;
}

div.parkcentral{
	position: relative;
	float: left;
	width: 30%;
	height:10%;
	margin-left:2.5%; 
	text-align: center;
}

div.parkwest{
	position: relative;
	float: left;
	width: 30%;
	height:10%;
	margin-left:2.5%; 
	margin-right:2.5%;
	text-align: center;
}

div.east{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	height:40%;
	width: 33.3%;
	margin-left:6.7%; 
	margin-right:7%;
	visibility: hidden;
	position: relative;
}

div.central{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	width: 33.3%;
	height:40%;
	margin-left: 6.7%; 
	margin-right:7.5%;
	visibility: hidden;
}

div.west{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	width: 33.3%;
	height:40%;
	margin-left: 6.7%; 
	margin-right:7.5%;
	visibility: hidden;
}
/*
tr.rooms{
	background-color: #FFFFFF;
	height:20%;
}

th.rooms{
	background-color: #FFFFFF;
	width: 33.333%;
	height: 40%;
	border-style: none;
	 -webkit-column-break-inside: avoid;
	/*height: 33.333%;
} 
*/
.timetable{
	width: 100%;
	height: 100%;
	margin: auto;
	border: 2px solid black;
	border-style: outset;
	border-radius: 5px;
	opacity: 0.4;
}

.title{
	background-color: #FFFFFF;
	text-align: center;
}
/*
.content{
	border: 2px solid black;
	border-style: outset;
	border-radius: 5px;
	background-color: #FFFFFF;
}	*/
.timeslot{
	color: #000000;
	background-color: #FFFFF2;
	border: 2px solid black;
	border-style: outset;
	border-radius: 5px;
	text-align: center;
}

.timeslotbooked{
	color: #FFFFFF;
	background-color: #330066;
	border: 2px solid black;
	border-style: outset;
	border-radius: 5px;
	text-align: center;
}

.ttheader{
	color: #FFFFFF;
	background-color: #CC0066;
	border: 2px solid black;
	border-style: outset;
	border-radius: 5px;
	text-align: center;
}

.timeslot:hover{
	border: 2px solid #CC0066;
}


button.closeAdvanced{
	float:right;
    margin-top:-10px;
    margin-right:-10px;
   /* cursor:pointer;
    color: black;*/
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
   /* line-height: 0px;
    padding: 11px 3px;  */
}

button.closeAdvanced:hover{
	float:right;
    margin-top:-10px;
    margin-right:-10px;
	cursor:pointer;
    color: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
   /* line-height: 0px;
    padding: 11px 3px;  */
}

.button1{
	background-color: #CC0066;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.button1:hover{
	background-color: #FFFFFF;
	color: #CC0066;
	border: 3px solid #CC0066;
}