/* ------------------------------------------------- Login Page CSS -------------------------------------*/

.loginBody{
	background-color:#FFFFF2;
	font-size:16px;
	font-family: Arial, Lucida Sans Unicode;
	line-height:1.5;
	text-align: left;
	margin: 0 auto;
	width: 80%;
	clear: both;
}

.loginHeader{
	width: 100%;
}

.loginHeader  img {
	width:30%;
	height:auto;
	margin: auto;
}

.loginMainContent{
	width: 50%;
	margin: auto;
}


.centerContent{
	color: #FFFFFF;
	background-color: rgba(51,0,102,1);
	padding: 1% 2%;
	/*border-right: 4px solid #CC0066;
	border-bottom: 5px solid #CC0066;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/==
}

.loginFooter{
	width: 60%;
	height: 40px;
	margin: auto;
	background-color: #CC0066;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.loginFooter p {
	width: 92%;
	margin: 20px auto;
}





/*--------------------------------------------Main Content------------------------------------------------------------------*/


.body{
	background-color:#FFFFF2;
	font-size:16px;
	font-family: Arial, Lucida Sans Unicode;
	line-height:1.5;
	text-align: left;
	margin: 0 auto;
	width: 80%;
	clear: both;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #FFFFFF;
	
}

a:hover, a:active{
	background-color: #330066;
	color: #FFFFFF;
}



.mainHeader  img {
	width:30%;
	height:auto;
	margin: 2% 0;
}

.mainHeader  nav{
	background-color:#CC0066;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style:none;
	margin: 0 auto;
}

.mainHeader nav ul  li{
	float:left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 20px;
	height:20px
}

.mainHeader nav a:hover, .mainHeader nav a:active{

}

.mainHeader nav .active  a:link, .mainHeader nav .active a:visited{
	background-color: #330066;
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.mainContent{
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*overflow: hidden;*/
}

.content{
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.topcontent{
	color: #FFFFFF;
	float: left;
	width: 45%;
	margin-top: 2%;
	margin-right: 2%;
	background-color: rgba(51,0,102,1);
	padding: 1% 2%;
	/*border-right: 4px solid #CC0066;
	border-bottom: 5px solid #CC0066;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bottomcontent{
	color: #FFFFFF;
	float: left;
	width: 45%;
	margin-top: 2%;
	background-color: #330066;
	padding: 1% 2%;
	/*border: 2px solid #CC0066;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}



#park1
{
	width: 80px;
}

#building1
{
	width: 200px;
}

#room1
{
	width: 100px;
}



#weekSelector .ui-selecting{ 
	background: #CC0066; 
}

#weekSelector .ui-selected { 
	background: #CC0068; 
	color: white; 
}

#weekSelector { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#weekSelector li { 
	margin: 1px; 
	padding: 1px; 
	float: left;
	font-size: 1.4em;
	text-align: center;
	list-style-position:inside;
	border: 1px solid black;
}

#adhocWeekSelector .ui-selecting{ 
	background: #CC0066; 
}

#adhocWeekSelector .ui-selected { 
	background: #CC0068; 
	color: white; 
}

#adhocWeekSelector { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#adhocWeekSelector li { 
	margin: 1px; 
	padding: 1px; 
	float: left;
	font-size: 1.4em;
	text-align: center;
	list-style-position:inside;
	border: 1px solid black;
}

#semesterSelector .ui-selecting{ 
	background: #CC0066; 
}

#semesterSelector .ui-selected { 
	background: #CC0068; 
	color: white; 
}

#semesterSelector { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#semesterSelector li { 
	margin: 1px; 
	padding: 1px; 
	float: left;
	font-size: 1.4em;
	text-align: center;
	list-style-position:inside;
	border: 1px solid black;
}

.homeButtons{
	background-color: #CC0066;
	color: #FFFFFF;
	height: 30px;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.homeButton{
	background-color: #CC0066;
	width: 30%;
	color: #FFFFFF;
	height: 30px;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#popupPastDiv{
	border-radius: 7px;
	border: 4px solid #CC0066;
	height: 90%;
	color: #FFFFFF;
	overflow: auto;
	background: rgba(51,0,102,1);
	margin: auto;
	padding:6px;  
	position:absolute;
	width:90%;
	top: 5%;
	left: 5%;
}

.pendingButton{
	background-color: #CC0066;
	color: #FFFFFF;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.filterButton{
	background-color: #330066;
	color: #FFFFFF;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#submissionsTable{
	border-color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.popupDiv{
	border: 4px solid #CC0066;
	height: 90%;
	color: #FFFFFF;
	overflow: auto;
	background: rgba(51,0,102,1);
	margin: auto;
	padding:6px;  
	position:absolute;
	width:90%;
	top: 5%;
	left: 5%;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#historyTable{
	border-color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.filterDiv{
	background:#CC0066;
	margin:30px;
	padding:6px;  
	position:absolute;
	width:25%;
	height:25%;
	top: 5%;
	left: 5%;
	border: 2px solid #FFFFFF;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.mainFooter{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #CC0066;
	color: #FFFFFF;
	margin: 2% 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.mainFooter p {
	width: 92%;
	margin: 20px auto;
}


/* -----------------------------------------CSS to make page responsive-------------- */
@media only screen and (min-width: 480px) and (max-width: 1024px)



{
	.body{
		width: 90%;
		font-size: 95%;
	}
	
	.mainHeader  img {
		width: 100%;
	}
	
	.mainHeader  nav{
		height: 200px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul  li{
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 20px;
		height:20px;
		display: block;
	}

	.content{
		width: 100%;
		float: left;
		margin-top:2%
	}

	.topcontent{
		color: #FFFFFF;
		width:96%;
		margin-top: 2%;
		margin-bottom: 4%;
		background-color: rgba(51,0,102,1);
		padding: 1% 2%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.bottomcontent{
		width:96%;
		margin-top: 3%;
	}
}
