#popupAdvancedSearchDiv{
	border-radius: 7px;
    background:#6b6a63;
    margin:10px;
    padding:6px;  
    position:absolute;
    width:90%;
	height:90%;
    top: 5%;
    left: 5%;
}

div.rooms{
	background-color: #708090; 
	border-top:1.5px solid #ccc; 
	height:50%;
	width:98%; 
	/*margin-left:2.5%; 
	margin-right:7.5%; */
	margin-bottom:0.5%;
	margin-top: 1%;
}

div.timetable{
	background-color: #708090; 
	border-top:1.5px solid #ccc; 
	height:350px;
	width:1200px; 
	margin-left:7.5%; 
	margin-right:7.5%; 
	margin-bottom:0.5%;
	opacity: 0.4;
}

table.park{
	background-color: #708090; 
	width: 1000px;
	height:80px;
	margin-left:7.5%; 
	margin-right:7.5%;
}

tr.park{
	background-color: #FFFFFF;
	height:20%;
}
	
th.park{
	background-color: #FFFFFF;
	width: 33.333%;
	/*height: 33.333%;*/
} 

th.park:active{
	background-color: #000000;
	color:#FFFFFF;
	width: 33.333%;
	/*height: 33.333%;*/
} 

th.park:hover{
	background-color: #000000;
	width: 33.333%;
	color:#FFFFFF;
	cursor: pointer;
	/*height: 33.333%;*/
} 

table.east{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	width: 1000px;
	height:40%;
	margin-left:6.7%; 
	margin-right:7%;
	visibility: hidden;
}

table.central{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	width: 1000px;
	height:40%;
	margin-left: 6.7%; 
	margin-right:7.5%;
	visibility: hidden;
}

table.west{
	position: absolute;
	z-index: 1;
	float:left;
	background-color: #708090; 
	width: 1000px;
	height:40%;
	margin-left: 6.7%; 
	margin-right:7.5%;
	visibility: hidden;
}

tr.rooms{
	background-color: #FFFFFF;
	height:20%;
}

th.rooms{
	background-color: #FFFFFF;
	width: 33.333%;
	height: 40%;
	border-style: none;
	 -webkit-column-break-inside: avoid;
	/*height: 33.333%;*/
} 

table{
	background-color: #708090; 
	width: 1000px;
	height:100%;
	margin-left:7.5%; 
	margin-right:7.5%;
	border:2px solid black;
	border-style: outset;
	border-radius: 5px;
}
th.times, th.days {
	background-color: #FFFFFF;
	width: 10%;
	height: 16.666%;
}

th.content{
	background-color: #FFFFFF;
	width: 10%;
	height: 16.666%;
	border:2px solid black;
	border-style: outset;
	border-radius: 5px; 
}
th.content:hover{
	background-color: black;
	width: 10%;
	height: 16.666%;
	border:2px solid black;
	border-style: outset;
	border-radius: 5px; 
	cursor:pointer;
}

button.close{
	float:right;
    margin-top:-10px;
    margin-right:-10px;
   /* cursor:pointer;
    color: black;*/
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
   /* line-height: 0px;
    padding: 11px 3px;  */
}

button.close:hover{
	float:right;
    margin-top:-10px;
    margin-right:-10px;
	cursor:pointer;
    color: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
   /* line-height: 0px;
    padding: 11px 3px;  */
}

table.eastinfo{
	position: absolute;
	z-index: 1;
	margin-top: 20%;
	background-color: #FFFFFF; 
	visibility: hidden;
}

table.centralinfo{
	position: absolute;
	z-index: 1;
	background-color: #FFFFFF; 
	visibility: hidden;
}

table.westinfo{
	position: absolute;
	z-index: 1;
	background-color: #FFFFFF; 
	visibility: hidden;
}
